[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart={{BIN_PATH}}/etcd \
  --name={{NODE_IP}} \
  --listen-client-urls=https://{{NODE_IP}}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=https://{{NODE_IP}}:2379 \
  --data-dir=/var/lib/etcd \
  --listen-peer-urls=https://{{NODE_IP}}:2380 \
  --initial-advertise-peer-urls=https://{{NODE_IP}}:2380 \
  --cert-file=/etc/kubernetes/ca/etcd/etcd.pem \
  --key-file=/etc/kubernetes/ca/etcd/etcd-key.pem \
  --peer-cert-file=/etc/kubernetes/ca/etcd/etcd.pem \
  --peer-key-file=/etc/kubernetes/ca/etcd/etcd-key.pem \
  --trusted-ca-file=/etc/kubernetes/ca/ca.pem \
  --peer-trusted-ca-file=/etc/kubernetes/ca/ca.pem
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
